<div class="lgv">
  <div class="row h2">
    <h2>Sign up</h2>
  </div>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
    <div class="Log">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    </div>

  <div class="row">
    <div class="log">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    </div>

  <div class="row">
    <div class="log">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    </div>

    <div class="btnlg">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <div class="row btn btn-info">
    <%= render "users/shared/links" %>
  </div>
</div>
